* {
    margin: 0;
    padding: 0;
}

#root {
    font-family: Microsoft YaHei;
    font-weight: 400;
}

img {
    border: none;
}

.fr {
    float: right;
}

.page-title {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(77, 77, 77, 1);
    line-height: 38px;
}

.page-content {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(230, 230, 230, 1);
}

.ant-divider.ant-divider-horizontal {
    border-top-color: rgba(222, 222, 222, 1);
}